@import 'src/styles/flex_pt.scss';
.third-page-container {
  min-height: 100vh;
  position: relative;
  .bg-image {
    width: 100%;
    height: 100vh;
  }
  .super-title-image {
    width: flex_pt(250);
    position: absolute;
    top: flex_pt(20);
    left: flex_pt(55);
    img{
      width: 100%;
    }
  }
  .title-image {
    width: flex_pt(270);
    position: absolute;
    top: flex_pt(75);
    left: flex_pt(55);
    &.jackInTheBox {
        animation: jackInTheBox .5s;
        opacity: 1;
    }
    img {
      width: 100%;
    }
  }
  .coin-image {
    width: flex_pt(340);
    position: absolute;
    top: flex_pt(275);
    left: flex_pt(15);
    img {
        width: 100%;
    }
  }
  .data-list-image {
    width: flex_pt(290);
    position: absolute;
    top: flex_pt(175);
    left: flex_pt(35);
    img {
        width: 100%;
    }
    &.jello {
        animation: jello 1s .5s;
        opacity: 1;
    }
  }
  .introdute-icon-image {
    width: flex_pt(80);
    position: absolute;
    top: flex_pt(145);
    right: flex_pt(125);
    img {
        width: 100%;
    }
    &.fadeIn {
        animation: fadeIn .4s 2.4s;
        opacity: 1;
    }
  }
  .men-image {
    width: flex_pt(50);
    position: absolute;
    top: flex_pt(175);
    right: flex_pt(180);
    img {
        width: 100%;
    }
    &.shake {
        animation: shake 1s 1.5s;
        opacity: 1;
    }
  }
  .women-image {
    width: flex_pt(85);
    position: absolute;
    top: flex_pt(190);
    left: flex_pt(30);
    opacity: 0;
    img {
        width: 100%;
    }
    &.slideInLeft {
        animation: slideInLeft .4s 2.5s;
        opacity: 1;
    }
  }
  .fade-image{ 
    width: flex_pt(105);
    position: absolute;
    top: flex_pt(280);
    right: flex_pt(-5);
    img {
        width: 100%;
    } 
  }
  .plant-image {
    width: flex_pt(414);
    position: absolute;
    bottom: -10px;
    right: 0;
    img{
        width: 100%;
    }
  }
  .bottom-button-image {
    width: flex_pt(100);
    position: absolute;
    bottom: flex_pt(15);
    right: flex_pt(140);
    img{
        width: 100%;
    } 
    &.slideInDown {
        animation: slideInDown 2.5s infinite;
        opacity: 1;
    }
  }
  .pop-wrapper-view{
      width: flex_pt(414);
      height: 100vh;
      background: rgba(0, 0, 0, 0.4);
      position: absolute;
      left: 0;
      top: 0;
    .introduction-image {
        width: flex_pt(314);
        position: absolute;
        bottom: flex_pt(130);
        right: flex_pt(78);
        .hide-button {
            width: flex_pt(50);
            height: flex_pt(50);
            position: absolute;
            top: flex_pt(20);
            right: flex_pt(25);
        }
        img {
            width: 100%;
        }
        &.fadeIn {
            animation: fadeIn 1s;
            opacity: 1;
        }
      }
  }
  .introduction_text {
    position: absolute;
    bottom: flex_pt(60);
    width: 100vw;
    padding: 10px 20px;
    line-height: flex_pt(20);
    font-size: 12px;
    color: #fff;
    box-sizing: border-box;
    text-indent: 26px;
  }
  
}
@keyframes jackInTheBox {
    from {
      opacity: 0;
      -webkit-transform: scale(0.1) rotate(30deg);
      transform: scale(0.1) rotate(30deg);
      -webkit-transform-origin: center bottom;
      transform-origin: center bottom;
    }
  
    50% {
      -webkit-transform: rotate(-10deg);
      transform: rotate(-10deg);
    }
  
    70% {
      -webkit-transform: rotate(3deg);
      transform: rotate(3deg);
    }
  
    to {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
}
@keyframes slideInDown {
    from {
      -webkit-transform: translate3d(0, -5px, 0);
      transform: translate3d(0, -5px, 0);
      visibility: visible;
    }

  
    to {
      -webkit-transform: translate3d(0, 10px, 0);
      transform: translate3d(0, 10px, 0);
    }
}

@keyframes jello {
    from,
    11.1%,
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    22.2% {
      -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
      transform: skewX(-12.5deg) skewY(-12.5deg);
    }
  
    33.3% {
      -webkit-transform: skewX(6.25deg) skewY(6.25deg);
      transform: skewX(6.25deg) skewY(6.25deg);
    }
  
    44.4% {
      -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
      transform: skewX(-3.125deg) skewY(-3.125deg);
    }
  
    55.5% {
      -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
      transform: skewX(1.5625deg) skewY(1.5625deg);
    }
  
    66.6% {
      -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
      transform: skewX(-0.78125deg) skewY(-0.78125deg);
    }
  
    77.7% {
      -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
      transform: skewX(0.390625deg) skewY(0.390625deg);
    }
  
    88.8% {
      -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
      transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    }
}

@keyframes shake {
    from,
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      -webkit-transform: translate3d(-10px, 0, 0);
      transform: translate3d(-10px, 0, 0);
    }
  
    20%,
    40%,
    60%,
    80% {
      -webkit-transform: translate3d(10px, 0, 0);
      transform: translate3d(10px, 0, 0);
    }
}
  
@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
}
  

@keyframes slideInLeft {
    from {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
      opacity: 0;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
}
  