@import 'src/styles/flex_pt.scss';
.first-page-container {
  min-height: 100vh;
  .bg-image {
    width: 100%;
    min-height: 100vh;
  }
  .title-image {
    width: flex_pt(340);
    position: absolute;
    top: flex_pt(140);
    left: flex_pt(15);
    &.jackInTheBox {
        animation: jackInTheBox 1s .8s;
        opacity: 1;
      }
    img {
      width: 100%;
    }
  }
  .coin-image {
    width: flex_pt(340);
    position: absolute;
    top: flex_pt(375);
    left: flex_pt(15);
    img {
        width: 100%;
    }
  }
  .loop-book-image {
    width: flex_pt(370);
    position: absolute;
    top: flex_pt(320);
    img {
        width: 100%;
    }
  }
  .cloud-image {
    width: flex_pt(310);
    position: absolute;
    top: flex_pt(420);
    left: flex_pt(10);
    &.fadeIn {
        animation: fadeIn 4s 1.8s infinite;
        opacity: 1;
      }
    img {
        width: 100%;
    }
  }
  .rocket-image {
    width: flex_pt(210);
    position: absolute;
    top: flex_pt(283);
    right: flex_pt(30);
    &.fadeInLeftBig {
        animation: fadeInLeftBig 4s 1.8s infinite;
        opacity: 1;
      }
    img{
        width: 100%;
    }
  }
  .plant-image {
    width: flex_pt(414);
    position: absolute;
    bottom: -7px;
    right: 0;
    img{
        width: 100%;
    }
  }
  .arrow-image {
    width: flex_pt(30);
    position: absolute;
    bottom: 10px;
    right: flex_pt(172); 
    &.fadeInDown {
        animation: fadeInDown 2s infinite;
        opacity: 1;
      }
    img {
        width: 100%;
    }
  }
}

@keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes jackInTheBox {
    from {
      opacity: 0;
      -webkit-transform: scale(0.1) rotate(30deg);
      transform: scale(0.1) rotate(30deg);
      -webkit-transform-origin: center bottom;
      transform-origin: center bottom;
    }
  
    50% {
      -webkit-transform: rotate(-10deg);
      transform: rotate(-10deg);
    }
  
    70% {
      -webkit-transform: rotate(3deg);
      transform: rotate(3deg);
    }
  
    to {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }

  @keyframes fadeInLeftBig {
    from {
      -webkit-transform: translate3d(0px, 0px, 0);
      transform: translate3d(0px, 0px, 0);
    }
  
    to {
      -webkit-transform: translate3d(40px, -40px, 0);
      transform: translate3d(40px, -40px, 0);
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  