@import 'src/styles/flex_pt.scss';
.home-container {
  width: 100vw;
  //   height: 100vh;
  background-color: #40b7ff;
  .bg-image {
    width: 100vw;
  }
  .btn-image {
    display: block;
    width: 30vw;
  }
  .swiper-image {
    width: 100vw;
    height: 50vh;
  }
}
